<app-usernav></app-usernav>
<div class="container">
  <div class="row g-3 m-4">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <div class="card" >
              
              <div class="card-body">
               
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>My Complaints:</h3>{{data[0].complaints}}</li>
             
              
              </ul>
              
            </div>

      </div>
  </div>
</div>
